Source: packaging-test
Maintainer: Krystof Sara <k@n0p.cz>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: 	debhelper (>= 10),
		libuv1 (>= 1.24),
		libuv1-dev (>= 1.24),
		dh-systemd (>= 12.1)

Package: packaging-test
Architecture: all
Depends: 	${shlibs:Depends}, 
		${misc:Depends},
		bash,
		systemd
Description: Debian packaging test  
 packaging-test is a test package for CZ.NIC job application.
